version: 0.0.{build}
os: Visual Studio 2015
install:
- dnvm upgrade -r clr
- dnu restore
before_build:
- nuget restore
build:
  verbosity: minimal
test_script:
- dnx -p src\CommandRouting.UnitTests\project.json test
- dnx -p src\Sample.IntegrationTests\project.json test
notifications:
- provider: Webhook
  url: https://webhooks.gitter.im/e/e6716e9326783448ae1d
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true